<%= form_for @budget do |form| %>
    <p>
    <%= form.label :price %>
    <%= form.text_field :price %>
    </p>

    <p>
    <%= form.label :month %>
    <%= form.text_field :month %>
    </p>

    <p>
    <%= form.label :user_id %>
    <%= form.text_field :user_id%>
    </p>

    <%= form.submit %>

<% end %>
