<h1>Editing Book</h1>

<%= render 'form', Income: @income %>

<%= link_to 'Show', @income %> |

<%= render 'form', Expense: @expense %>

<%= link_to 'Show', @expense %> |
<%= link_to 'Back', incomes_and_expenses_index_path %>
